<div class="my-container ">
    <div class="border mb-5 p-3 d-flex justify-content-around">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-secondary" 
                [ngClass]="{'active': view === 'grid'}"
                       (click)="view = 'grid'">
                       <span>
                        <i class="fa fa-th-large" aria-hidden="true"></i>
                       </span>
                    </button>
                <button type="button" class="btn btn-outline-secondary"
                 [ngClass]="{'active': view === 'list'}"  
                 (click)="view = 'list'">
                 <span>
                    <i class="fa fa-list" aria-hidden="true"></i>
                </span>
                </button>
            </div>
    
        <div class="w-50 d-flex">
            <span class="me-5 d-flex align-item-center fs-5 fw-bold">: תצוגה  </span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-secondary" 
                [ngClass]="{'active': sortby === 'default'}" (click)="sortby = 'default'; sortByPrice(sortby)">
                    ברירת מחדל
                </button>
                <button type="button" class="btn btn-outline-secondary"
                [ngClass]="{'active': sortby === 'htl'}"(click)="sortby = 'htl'; sortByPrice(sortby)">
                    מחיר (מהגבוה לנמוך)
                </button> 
                <button type="button" class="btn btn-outline-secondary"
                [ngClass]="{'active': sortby === 'lth'}"(click)="sortby = 'lth'; sortByPrice(sortby)">
                    מחיר (מהנמוך לגבוה)
                </button>
            </div>
        </div>
    </div>

    <div class="border p-5">

        <!-- משובץ -->
        <div class="grid-view" *ngIf="view === 'grid'">
            <div class="row g-5">
                <div class="col-3" *ngFor="let product of products">
                    <app-product [product]="product"></app-product>
                </div>
            </div>
        </div>

        <!-- רשימה -->
        <div class="list-view" *ngIf="view === 'list'">
            <div class="row mb-5" *ngFor="let product of products">
                <div class="col">
                    <app-product [view]="'list'" [product]="product"></app-product>
                </div>
            </div>
        </div>

    </div>
</div>