:host{
    display: block;
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 20;;
}
.search-container{
    margin-right:40%;
    margin-left: 2%;
}
.search-container input{
    float: right;
    padding: 9px;
    border: none;
    margin-top: 4px;
    font-size: 17px;
    border-radius: 5px;
}
.search-container  button{
    float: right;
    padding: 9px;
    border: none;
    margin-top: 4px;
    font-size: 17px;
    border-radius:5px;
    background-color: rgba(236, 193, 54, 0.95);
    margin-left: 1px;
}